{%  extends "homebase.html" %}

{% block title %} {{ blog.title }} {% endblock %}
{% block keywords %} {{ blog.keywords}} {% endblock %}
{% block description %} {{ blog.description}} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}


    <section class="main-content">
        <div class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="single-post">
                            <div class="gallery-post">
                                <article class="post type-post">
                                    <div class="top-content text-center">
                                        <span class="category"><a href="/category/{{ blog.category_id }}/{{ blog.category.slug }}">{{ blog.category }}</a></span><!-- /.category -->
                                        <h2 class="entry-title"><a href="standard.html">{{ blog.title }}</a></h2><!-- /.entry-title -->
                                        <span class="time"><time datetime="2017-12-05">{{ blog.create_at }}</time></span><!-- /.time -->
                                    </div><!-- /.top-content -->

                                    <div class="entry-thumbnail">
                                        <div class="post-slider carousel slide">
                                            <div class="carousel-inner">
                                                <div class="item active"><img style="height: 590px; width: 100%;" src="{{ blog.image.url }}" alt="Slider Image"></div>
                                                {% for rs in images %}
                                                <div class="item"><img style="height: 590px; width: 100%;" src="{{ rs.image.url }}" alt="Slider Image"></div>
                                                {% endfor %}
                                            </div><!-- /.carousel-inner -->
                                            <a class="left carousel-control" href=".post-slider" role="button" data-slide="prev">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                            <a class="right carousel-control" href=".post-slider" role="button" data-slide="next">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div><!-- /.post-slider -->
                                    </div><!-- /.entry-thumbnail -->

                                    <div class="entry-content">
                                        <p>{{ blog.detail|safe }}</p>
                                    </div><!-- /.entry-content -->
                                </article><!-- /.post -->
                            </div><!-- /.gallery-post -->

                            <div class="comments text-center">
                                <h3 class="comment-title">YORUMLAR</h3><!-- /.comment-title -->

                                <ul class="comment-list">
                                    {% for rs in comments %}
                                    <li class="comment parent media">
                                        <div class="author-avatar media-left pull-left">
                                            <i class="fa fa-user-circle-o"></i>
                                        </div>
                                        <div class="comment-details media-body">
                                            <h3 class="name"><a href="#">{{ rs.subject }}</a></h3><!-- /.name -->
                                            <p>{{rs.comment}}</p>
                                            <a href="#" class="btn reply"><i class="fa fa-user-o"></i> {{ rs.user.first_name }}</a>
                                            <time datetime="PT04H0M">{{ rs.create_at }}</time>
                                        </div><!-- /.comment-details -->
                                    </li><!-- /.comment -->
                                    {% endfor %}
                                </ul><!-- /.comment-list -->
                            </div><!-- /.comments -->

                            <div class="respond text-center">
                                <h3 class="respond-title">Yorum Yap</h3><!-- /.respond-title -->
                            {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }}" role="alert">
                                            {{ message }}
                                            </div>
                                        {% endfor %}
                            {% endif %}

                                <form action="/blog/addcomment/{{ blog.id }}" method="post" class="comment-form">
                                    {% csrf_token %}
                                        <span class="comment-form-control-wrap your-name">
                                            <input type="text" name="subject" id="id_subject" class="comment-form-control" placeholder="Subject" required>
                                        </span>
                                    <span class="comment-form-control-wrap message">
                                            <textarea name="comment" id="id_comment" class="comment-form-control" placeholder="Your Message" required></textarea>
                                        </span>
                                    {% if user.id is not None %}
                                    <span class="comment-form-control-wrap submit">
                                            <input type="submit" class="comment-form-control" value="Submit">
                                        </span>
                                        {% else %}
                                        Yorum Eklemek için <a href="/login">Giriş</a> yapın!
                                    {% endif %}
                                </form>
                            </div><!-- /.respond -->
                        </div><!-- /.single-post -->
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- /.padding -->
    </section><!-- /.main-content -->

{% endblock %}