{%  extends "homebase.html" %}
{% load static %}
{% block title %} {{ categorydata.title}} Blogs {% endblock %}
{% block keywords %} {{ categorydata.keywords}} {% endblock %}
{% block description %} {{ categorydata.description}} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
<div class="col-sm-2">

        <div class="container">

            <div class="sidenav">

                {% load mptt_tags %}

                {% recursetree category %}<div>
                    <button class="dropdown-btn">{% if node.is_leaf_node %}<a href="/category/{{ node.id }}/{{ node.slug }}">{% endif %}
                        {{ node.title }}</a>{% if not node.is_leaf_node %}<i class="fa fa-caret-down"></i>{% endif %}
                    </button>
                    <div class="dropdown-container">
                        {% if not node.is_leaf_node %}

                            {{ children }}

                        {% endif %}
                    </div>
                </div>
                {% endrecursetree %}
            </div>
        </div>
    </div>
    <section class="main-content">
        <div class="padding">
            <div class="container">
                <div class="row">
                    <div class="categories text-center">
                        <div class="details-top">
                            <h2 class="section-title">{{ categorydata.title }}</h2><!-- /.section-title -->
                        </div><!-- /.details-top -->
                        {% for rs in blogs %}
                        <div class="col-sm-4">
                            <article class="post type-post">
                                <div class="entry-thumbnail"><img src="{{ rs.image.url }}" alt="Thumbnail Image"></div><!-- /.entry-thumbnail -->
                                <div class="entry-content">
                                    <span class="category"><a href="#">{{ categorydata.title }}</a></span><!-- /.category -->
                                    <h2 class="entry-title"><a href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2><!-- /.entry-title -->
                                    <p>
                                        {{ rs.description }}
                                    </p>

                                    <a href="/blog/{{ rs.id }}/{{ rs.slug }}" class="btn">Read more</a><!-- /.btn -->
                                </div><!-- /.entry-content -->
                            </article><!-- /.post -->
                        </div>
                        {% endfor %}
                    </div><!-- /.categories -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.padding -->
    </section><!-- /.main-content -->

{% endblock %}