{%  extends "homebase.html" %}

{% block title %} {{ blog.title }} {% endblock %}
{% block keywords %} {{ blog.keywords}} {% endblock %}
{% block description %} {{ blog.description}} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}


    <section class="main-content">
        <div class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="single-post">
                            <div class="gallery-post">
                                <article class="post type-post">
                                    <div class="top-content text-center">
                                        <span class="category"><a href="/category/{{ blog.category_id }}/{{ blog.category.slug }}">{{ blog.category }}</a></span><!-- /.category -->
                                        <h2 class="entry-title"><a href="standard.html">{{ blog.title }}</a></h2><!-- /.entry-title -->
                                        <span class="time"><time datetime="2017-12-05">{{ blog.create_at }}</time></span><!-- /.time -->
                                    </div><!-- /.top-content -->

                                    <div class="entry-thumbnail">
                                        <div class="post-slider carousel slide">
                                            <div class="carousel-inner">
                                                <div class="item active"><img src="{{ blog.image.url }}" alt="Slider Image"></div>
                                                {% for rs in images %}
                                                <div class="item"><img src="{{ rs.image.url }}" alt="Slider Image"></div>
                                                {% endfor %}
                                            </div><!-- /.carousel-inner -->
                                            <a class="left carousel-control" href=".post-slider" role="button" data-slide="prev">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                            <a class="right carousel-control" href=".post-slider" role="button" data-slide="next">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div><!-- /.post-slider -->
                                    </div><!-- /.entry-thumbnail -->

                                    <div class="entry-content">
                                        <p>{{ blog.detail|safe }}</p>


                                        <div class="post-meta">
                                            <span class="comments pull-left"><i class="icon_comment_alt"></i> <a href="#">4 Comments</a></span><!-- /.comments -->
                                            <span class="post-social pull-right">
                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                </span><!-- /.post-social -->
                                        </div><!-- /.post-meta -->
                                    </div><!-- /.entry-content -->
                                </article><!-- /.post -->
                            </div><!-- /.gallery-post -->

                            <div class="author-bio media">
                                <div class="author-avatar media-left pull-left"><img class="img-circle" src="images/single/au.jpg" alt="Avatar"></div><!-- /.author-avatar -->
                                <div class="author-details media-body">
                                    <h3 class="name"><a href="#">Alex Martinez</a></h3>
                                    <p>
                                        Donec sed elementum mi. Duis mattis dolor ante, eleifend dapibus ipsum pellentesque venenatis. Nullam elementum ligula et rhoncus interdum. In malesuada
                                    </p>
                                    <div class="social">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div><!-- /.social -->
                                </div><!-- /.author-details -->
                            </div><!-- /.author-bio -->

                            <nav class="post-navigation" role="navigation">
                                <div class="nav-links prev pull-left">
                                    <span class="meta-nav"><i class="fa fa-angle-left"></i></span>

                                    <article class="post type-post media">
                                        <div class="entry-thumbnail media-left pull-left">
                                            <a href="image.html"><img src="images/single/n1.jpg" alt="Thumb Image"></a>
                                        </div><!-- /.entry-thumbnail -->
                                        <div class="entry-content media-body">
                                            <h3 class="entry-title"><a href="image.html">Cruise to Alaska</a></h3>
                                            <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                                        </div><!-- /.entry-content -->
                                    </article>
                                </div><!-- .nav-links -->

                                <div class="nav-links next pull-right">
                                    <span class="meta-nav"><i class="fa fa-angle-right"></i></span>
                                    <article class="post type-post media text-right">
                                        <div class="entry-thumbnail media-left pull-right">
                                            <a href="gallery.html"><img src="images/single/n2.jpg" alt="Thumb Image"></a>
                                        </div><!-- /.entry-thumbnail -->
                                        <div class="entry-content media-body">
                                            <h3 class="entry-title"><a href="gallery.html">Cruising into Spring</a></h3>
                                            <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                                        </div><!-- /.entry-content -->
                                    </article>
                                </div><!-- .nav-links -->

                            </nav><!-- /.post-navigation -->

                            <div class="widget widget_related_posts text-center">
                                <h3 class="widget-title">YOU MAY ALSO LIKE</h3><!-- /.widget-title -->
                                <div class="widget-details">
                                    <div class="col-sm-4">
                                        <article class="post type-post">
                                            <div class="entry-thumbnail"><img src="images/single/w1.jpg" alt="Thumbnail Image"></div><!-- /.entry-thumbnail -->
                                            <div class="entry-content">
                                                <h3 class="entry-title"><a href="image.html">Hawaiian Prints</a></h3><!-- /.entry-title -->
                                                <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                                            </div><!-- /.entry-content -->
                                        </article><!-- /.post -->
                                    </div>
                                    <div class="col-sm-4">
                                        <article class="post type-post">
                                            <div class="entry-thumbnail"><img src="images/single/w2.jpg" alt="Thumbnail Image"></div><!-- /.entry-thumbnail -->
                                            <div class="entry-content">
                                                <h3 class="entry-title"><a href="image.html">Russian River</a></h3><!-- /.entry-title -->
                                                <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                                            </div><!-- /.entry-content -->
                                        </article><!-- /.post -->
                                    </div>
                                    <div class="col-sm-4">
                                        <article class="post type-post">
                                            <div class="entry-thumbnail"><img src="images/single/w3.jpg" alt="Thumbnail Image"></div><!-- /.entry-thumbnail -->
                                            <div class="entry-content">
                                                <h3 class="entry-title"><a href="image.html">California “Tunnel Tree”</a></h3><!-- /.entry-title -->
                                                <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                                            </div><!-- /.entry-content -->
                                        </article><!-- /.post -->
                                    </div>
                                </div><!-- /.widget-details -->
                            </div><!-- /.related_posts -->

                            <div class="comments text-center">
                                <h3 class="comment-title">4 comments</h3><!-- /.comment-title -->

                                <ul class="comment-list">
                                    {% for rs in comments %}
                                    <li class="comment parent media">
                                        <div class="author-avatar media-left pull-left">
                                            <img class="img-circle" src="images/single/c2.jpg" alt="Avatar">
                                        </div><!-- /.author-avatar -->
                                        <div class="comment-details media-body">
                                            <h3 class="name"><a href="#">{{ rs.subject }}</a></h3><!-- /.name -->
                                            <p>{{rs.comment}}</p>
                                            <a href="#" class="btn reply"><i class="fa fa-user-o"></i> {{ rs.user.first_name }}</a>
                                            <time datetime="PT04H0M">{{ rs.create_at }}</time>
                                        </div><!-- /.comment-details -->
                                    </li><!-- /.comment -->
                                    {% endfor %}
                                </ul><!-- /.comment-list -->
                            </div><!-- /.comments -->

                            <div class="respond text-center">
                                <h3 class="respond-title">Leave a reply</h3><!-- /.respond-title -->
                            {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }}" role="alert">
                                            {{ message }}
                                            </div>
                                        {% endfor %}
                            {% endif %}

                                <form action="/blog/addcomment/{{ blog.id }}" method="post" class="comment-form">
                                    {% csrf_token %}
                                        <span class="comment-form-control-wrap your-name">
                                            <input type="text" name="subject" id="id_subject" class="comment-form-control" placeholder="Subject" required>
                                        </span>
                                    <span class="comment-form-control-wrap message">
                                            <textarea name="comment" id="id_comment" class="comment-form-control" placeholder="Your Message" required></textarea>
                                        </span>
                                    {% if user.id is not None %}
                                    <span class="comment-form-control-wrap submit">
                                            <input type="submit" class="comment-form-control" value="Submit">
                                        </span>
                                        {% else %}
                                        Yorum Eklemek için <a href="/login">Giriş</a> yapın!
                                    {% endif %}
                                </form>
                            </div><!-- /.respond -->
                        </div><!-- /.single-post -->
                    </div>

                    <div class="col-sm-4">
                        <aside class="sidebar text-center">
                            <div class="widget widget_about_author">
                                <h3 class="widget-title">About me</h3><!-- /.widget-title -->
                                <div class="widget-details">
                                    <div class="author-avatar"><img src="images/sidebar/a.jpg" alt="Avatar" class="img-circle"></div><!-- /.author-avatar -->
                                    <p>
                                        Ahasellus rhoncus laoreet odio, sit amet rutrum metus aliquet quis. Sed sed nulla erat. Curabitur ullamcorper dum tortor.
                                    </p>
                                    <div class="author-social">
                                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div><!-- /.author-social -->
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->

                            <div class="widget widget_newsletter">
                                <h3 class="widget-title">Newsletter</h3><!-- /.widget-title -->
                                <div class="widget-details">
                                    <form class="mc4wp-form" method="post">
                                        <div class="mc4wp-form-fields">
                                            <input class="form-control" type="email" name="EMAIL" placeholder="Email Address" required="">
                                            <input type="submit" class="form-control" name="submit" value="Subscribe">
                                        </div>
                                        <div class="mc4wp-response"></div>
                                    </form>
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->

                            <div class="widget widget_insta_feed">
                                <h3 class="widget-title">Instagram</h3><!-- /.widget-title -->
                                <div class="widget-details">
                                    <a href="#"><img src="images/sidebar/1.jpg" alt="Instagram Image"></a>
                                    <a href="#"><img src="images/sidebar/2.jpg" alt="Instagram Image"></a>
                                    <a href="#"><img src="images/sidebar/3.jpg" alt="Instagram Image"></a>
                                    <a href="#"><img src="images/sidebar/4.jpg" alt="Instagram Image"></a>
                                    <a href="#"><img src="images/sidebar/5.jpg" alt="Instagram Image"></a>
                                    <a href="#"><img src="images/sidebar/6.jpg" alt="Instagram Image"></a>
                                    <a href="#"><img src="images/sidebar/7.jpg" alt="Instagram Image"></a>
                                    <a href="#"><img src="images/sidebar/8.jpg" alt="Instagram Image"></a>
                                    <a href="#"><img src="images/sidebar/9.jpg" alt="Instagram Image"></a>
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->

                            <div class="widget widget_recent_posts">
                                <h3 class="widget-title">Recent Posts</h3><!-- /.widget-title -->
                                <div class="widget-details">
                                    <article class="post type-post media">
                                        <div class="entry-thumbnail media-left pull-left"><img src="images/sidebar/a1.jpg" alt="Thumb Image"></div><!-- /.entry-thumbnail -->
                                        <div class="entry-content media-body">
                                            <h3 class="entry-title"><a href="standard.html">Good morning World</a></h3><!-- /.entry-title -->
                                            <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                                        </div><!-- /.entry-content -->
                                    </article><!-- /.post -->
                                    <article class="post type-post media">
                                        <div class="entry-thumbnail media-left pull-left"><img src="images/sidebar/a2.jpg" alt="Thumb Image"></div><!-- /.entry-thumbnail -->
                                        <div class="entry-content media-body">
                                            <h3 class="entry-title"><a href="standard.html">Hitchhog is dangerous?</a></h3><!-- /.entry-title -->
                                            <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                                        </div><!-- /.entry-content -->
                                    </article><!-- /.post -->
                                    <article class="post type-post media">
                                        <div class="entry-thumbnail media-left pull-left"><img src="images/sidebar/a3.jpg" alt="Thumb Image"></div><!-- /.entry-thumbnail -->
                                        <div class="entry-content media-body">
                                            <h3 class="entry-title"><a href="standard.html">Dream on Zanzibar</a></h3><!-- /.entry-title -->
                                            <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                                        </div><!-- /.entry-content -->
                                    </article><!-- /.post -->
                                    <article class="post type-post media">
                                        <div class="entry-thumbnail media-left pull-left"><img src="images/sidebar/a4.jpg" alt="Thumb Image"></div><!-- /.entry-thumbnail -->
                                        <div class="entry-content media-body">
                                            <h3 class="entry-title"><a href="standard.html">Happy Road Trip</a></h3><!-- /.entry-title -->
                                            <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                                        </div><!-- /.entry-content -->
                                    </article><!-- /.post -->
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->

                            <div class="widget widget_ad">
                                <div class="widget-details">
                                    <a href="#" class="ad-banner"><img src="images/sidebar/ad.jpg" alt="Ad Banner"></a>
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->
                        </aside><!-- /.sidebar -->
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- /.padding -->
    </section><!-- /.main-content -->

{% endblock %}