{% load static %}

<section class="main-content">

    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="masonry-posts">

                        {% for rs in lastblogs %}
                            <article class="post type-post col-sm-6">
                                <div class="entry-thumbnail"><img src="{{ rs.image.url }}" alt="Thumbnail Image"></div><!-- /.entry-thumbnail -->
                                <div class="entry-content">
                                    <span class="category"><a href="#">{{ rs.category }}</a></span><!-- /.category -->
                                    <h2 class="entry-title"><a href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h2><!-- /.entry-title -->
                                    <p>{{ rs.description }}</p>

                                    <a href="/blog/{{ rs.id }}/{{ rs.slug }}" class="btn read-more">Read more</a><!-- /.btn -->
                                </div><!-- /.entry-content -->
                            </article><!-- /.post -->
                        {% endfor %}
                    </div><!-- /.masonry-posts -->
                </div>

                <div class="col-sm-4">
                    <aside class="sidebar text-center">
                        <div class="widget widget_recent_posts">
                            <h3 class="widget-title">Senin için Seçtiklerimiz</h3><!-- /.widget-title -->
                            <div class="widget-details">
                                {% for rs in randomblogs %}
                                <article class="post type-post media">
                                    <div class="entry-thumbnail media-left pull-left"><img src="{{ rs.image.url }}" alt="Thumb Image"></div><!-- /.entry-thumbnail -->
                                    <div class="entry-content media-body">
                                        <h3 class="entry-title"><a href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h3><!-- /.entry-title -->
                                            <span class="time">{{ rs.category }}</span><!-- /.time -->
                                    </div><!-- /.entry-content -->
                                </article><!-- /.post -->
                                {% endfor %}
                            </div><!-- /.widget-details -->
                        </div><!-- /.widget -->
                    <div class="widget widget_recent_posts">
                            <h3 class="widget-title">En Çok Okunanlar</h3><!-- /.widget-title -->
                            <div class="widget-details">
                                {% for rs in homeblogs %}
                                <article class="post type-post media">
                                    <div class="entry-thumbnail media-left pull-left"><img src="{{ rs.image.url }}" alt="Thumb Image"></div><!-- /.entry-thumbnail -->
                                    <div class="entry-content media-body">
                                        <h3 class="entry-title"><a href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h3><!-- /.entry-title -->
                                            <span class="time">{{ rs.category }}</span><!-- /.time -->
                                    </div><!-- /.entry-content -->
                                </article><!-- /.post -->
                                {% endfor %}
                            </div><!-- /.widget-details -->
                        </div><!-- /.widget -->

                        <div class="widget widget_ad">
                            <div class="widget-details">
                                <a href="#" class="ad-banner"><img src="{% static 'images/sidebar/ad.jpg'%}" alt="Ad Banner"></a>
                            </div><!-- /.widget-details -->
                        </div><!-- /.widget -->
                    </aside><!-- /.sidebar -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.padding -->
</section><!-- /.main-content -->