{% load static %}
<section class="main-content">
    <div class="padding">
        <div class="container">
            <div class="list-posts-02">
                <article class="post type-post media">
                    <div class="entry-thumbnail media-left pull-left"><img src="{% static 'images/posts/05/1.jpg'%}" alt="Thumbnail Image'%}"></div><!-- /.entry-thumbnail -->
                    <div class="entry-content media-body">
                        <span class="category"><a href="categories.html">Lifestyle</a></span><!-- /.category -->
                        <h2 class="entry-title"><a href="standard.html">Cruise to Alaska</a></h2><!-- /.entry-title -->
                        <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                        <p>
                            Proin gravida nibhl velit auctor aliquet. Aenean sollicin lorem quisma biben dum auctor, nisi it con sequat ipsnecsa gittis sem nibh idelit. Duis sed odio sit amet nibh vulputate diam ut imperdiet.
                        </p>

                        <a href="standard.html" class="btn">Read more</a><!-- /.btn -->
                    </div><!-- /.entry-content -->
                </article><!-- /.post -->

                <article class="post type-post media">
                    <div class="entry-thumbnail media-left pull-left"><img src="{% static 'images/posts/05/2.jpg'%}" alt="Thumbnail Image'%}"></div><!-- /.entry-thumbnail -->
                    <div class="entry-content media-body">
                        <span class="category"><a href="categories.html">Lifestyle</a></span><!-- /.category -->
                        <h2 class="entry-title"><a href="standard.html">Russian River</a></h2><!-- /.entry-title -->
                        <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                        <p>
                            Proin gravida nibhl velit auctor aliquet. Aenean sollicin lorem quisma biben dum auctor, nisi it con sequat ipsnecsa gittis sem nibh idelit. Duis sed odio sit amet nibh vulputate diam ut imperdiet.
                        </p>
                        <a href="standard.html" class="btn">Read more</a><!-- /.btn -->
                    </div><!-- /.entry-content -->
                </article><!-- /.post -->

                <article class="post type-post media">
                    <div class="entry-thumbnail media-left pull-left"><img src="{% static 'images/posts/05/3.jpg'%}" alt="Thumbnail Image'%}"></div><!-- /.entry-thumbnail -->
                    <div class="entry-content media-body">
                        <span class="category"><a href="categories.html">Lifestyle</a></span><!-- /.category -->
                        <h2 class="entry-title"><a href="standard.html">Workout for the Road</a></h2><!-- /.entry-title -->
                        <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                        <p>
                            Proin gravida nibhl velit auctor aliquet. Aenean sollicin lorem quisma biben dum auctor, nisi it con sequat ipsnecsa gittis sem nibh idelit. Duis sed odio sit amet nibh vulputate diam ut imperdiet.
                        </p>
                        <a href="standard.html" class="btn">Read more</a><!-- /.btn -->
                    </div><!-- /.entry-content -->
                </article><!-- /.post -->

                <article class="post type-post type-ad">
                    <div class="entry-thumbnail"><img src="{% static 'images/posts/05/4.jpg'%}" alt="Thumbnail Image'%}"></div><!-- /.entry-thumbnail -->
                    <div class="entry-content">
                        <span class="category"><a href="categories.html">Lifestyle</a></span><!-- /.category -->
                        <h2 class="entry-title"><a href="standard.html">California “Tunnel Tree”</a></h2><!-- /.entry-title -->
                        <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                    </div><!-- /.entry-content -->
                </article><!-- /.post -->

                <article class="post type-post media">
                    <div class="entry-thumbnail media-left pull-left"><img src="{% static 'images/posts/05/5.jpg'%}" alt="Thumbnail Image'%}"></div><!-- /.entry-thumbnail -->
                    <div class="entry-content media-body">
                        <span class="category"><a href="categories.html">Lifestyle</a></span><!-- /.category -->
                        <h2 class="entry-title"><a href="standard.html">Hawaiian Prints</a></h2><!-- /.entry-title -->
                        <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                        <p>
                            Proin gravida nibhl velit auctor aliquet. Aenean sollicin lorem quisma biben dum auctor, nisi it con sequat ipsnecsa gittis sem nibh idelit. Duis sed odio sit amet nibh vulputate diam ut imperdiet.
                        </p>
                        <a href="standard.html" class="btn">Read more</a><!-- /.btn -->
                    </div><!-- /.entry-content -->
                </article><!-- /.post -->

                <article class="post type-post media">
                    <div class="entry-thumbnail media-left pull-left"><img src="{% static 'images/posts/05/6.jpg'%}" alt="Thumbnail Image'%}"></div><!-- /.entry-thumbnail -->
                    <div class="entry-content media-body">
                        <span class="category"><a href="categories.html">Lifestyle</a></span><!-- /.category -->
                        <h2 class="entry-title"><a href="standard.html">What to Explore in Key West</a></h2><!-- /.entry-title -->
                        <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                        <p>
                            Proin gravida nibhl velit auctor aliquet. Aenean sollicin lorem quisma biben dum auctor, nisi it con sequat ipsnecsa gittis sem nibh idelit. Duis sed odio sit amet nibh vulputate diam ut imperdiet.
                        </p>

                        <a href="standard.html" class="btn">Read more</a><!-- /.btn -->
                    </div><!-- /.entry-content -->
                </article><!-- /.post -->

                <article class="post type-post media">
                    <div class="entry-thumbnail media-left pull-left"><img src="{% static 'images/posts/05/7.jpg'%}" alt="Thumbnail Image"></div><!-- /.entry-thumbnail -->
                    <div class="entry-content media-body">
                        <span class="category"><a href="categories.html">Lifestyle</a></span><!-- /.category -->
                        <h2 class="entry-title"><a href="standard.html">ROAD TRIP TRAVEL GEAR</a></h2><!-- /.entry-title -->
                        <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                        <p>
                            Proin gravida nibhl velit auctor aliquet. Aenean sollicin lorem quisma biben dum auctor, nisi it con sequat ipsnecsa gittis sem nibh idelit. Duis sed odio sit amet nibh vulputate diam ut imperdiet.
                        </p>
                        <a href="standard.html" class="btn">Read more</a><!-- /.btn -->
                    </div><!-- /.entry-content -->
                </article><!-- /.post -->
            </div><!-- /.list-posts -->

            <nav class="pagination pagination-03">
                <ul>
                    <li class="hidden"><a href="#" aria-label="Previous">Previous</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#" aria-label="Next">Next</a></li>
                </ul>
            </nav><!-- /.pagination -->
        </div><!-- /.container -->
    </div><!-- /.padding -->
</section><!-- /.main-content -->



<section class="section-widget">
    <div class="widget widget_insta_feed">
        <div class="col-sm-2"><a href="#"><img src="{% static 'images/ins/1.jpg'%}" alt="Instagram Image'%}"></a></div>
        <div class="col-sm-2"><a href="#"><img src="{% static 'images/ins/2.jpg'%}" alt="Instagram Image'%}"></a></div>
        <div class="col-sm-2"><a href="#"><img src="{% static 'images/ins/3.jpg'%}" alt="Instagram Image'%}"></a></div>
        <div class="col-sm-2"><a href="#"><img src="{% static 'images/ins/4.jpg'%}" alt="Instagram Image'%}"></a></div>
        <div class="col-sm-2"><a href="#"><img src="{% static 'images/ins/5.jpg'%}" alt="Instagram Image'%}"></a></div>
        <div class="col-sm-2"><a href="#"><img src="{% static 'images/ins/6.jpg'%}" alt="Instagram Image'%}"></a></div>
    </div><!-- /.widget -->
</section><!-- /.section-widget -->