{%  extends "homebase.html" %}

{% block title %} Hakkımızda {{ setting.company}} {% endblock %}
{% block keywords %} {{ setting.keywords}} {% endblock %}
{% block description %} {{ setting.description}} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}

    <section class="main-content">
            <div class="padding">
                <div class="container">
                    <div class="about-me">
                        <div class="details">
                            <div class="details-top text-center">
                                <h2 class="section-title">HAKKIMIZDA</h2><!-- /.section-title -->
                            </div><!-- /.details-top -->

                            {{ setting.about|safe }}

                        </div><!-- /.details -->

                    </div><!-- /.about-me -->
                </div><!-- /.container -->
            </div><!-- /.padding -->
        </section><!-- /.main-content -->

{% endblock %}