{%  extends "homebase.html" %}

{% block title %} İletişim {{ setting.company}} {% endblock %}
{% block keywords %} {{ setting.keywords}} {% endblock %}
{% block description %} {{ setting.description}} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}

     <section class="main-content">
            <div class="padding">
                <div class="container">
                    <div class="contact">
                        <div class="contact-top">
                            <div class="padding">
                                <img src="http://demos-jeweltheme.ipunu91y.maxcdn-edge.com/sasha/images/c.jpg" alt="Image">
                            </div><!-- /.padding -->
                        </div><!-- /.contact-top -->

                        <div class="contact-details">
                            <div class="details-top text-center">
                                <h1 class="section-title">İLETİŞİM</h1><!-- /.section-title -->
                            </div><!-- /.details-top -->
                            <div class="col-md-6">
                            <p>{{ setting.contact|safe }}</p>
                            </div>
                        <div class="col-md-6">
                            <h4 class="widget-title">BİZE ULAŞIN</h4><!-- /.section-title -->
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                    </div>
                                {% endfor %}
                        {% endif %}

                            <form action="" method="post" class="wpcf7-form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <span class="wpcf7-form-control-wrap submit">
                                <input type="submit" value="SEND FORM" class="wpcf7-form-control">
                                </span>
                            </form>
                        </div>
                        </div><!-- /.contact-details -->
                    </div><!-- /.contact -->
                </div><!-- /.container -->
            </div><!-- /.padding -->
     </section><!-- /.main-content -->
{% endblock %}