{% load static %}
{% if page %}
    <div class="col-sm-3">
        <aside class="sidebar text-center">
            <div class="widget widget_recent_posts"><br><br><br><br><br><br>
                <h3 class="widget-title">Category</h3><!-- /.widget-title -->
                <div class="widget-details">
                    <article class="post type-post media">
                        <div class="entry-thumbnail media-left pull-left"><img src="{% static 'images/sidebar/a1.jpg'%}" alt="Thumb Image"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content media-body">
                            <h3 class="entry-title"><a href="standard.html">Good morning World</a></h3><!-- /.entry-title -->
                            <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                    <article class="post type-post media">
                        <div class="entry-thumbnail media-left pull-left"><img src="{% static 'images/sidebar/a2.jpg'%}" alt="Thumb Image"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content media-body">
                            <h3 class="entry-title"><a href="standard.html">Hitchhog is dangerous?</a></h3><!-- /.entry-title -->
                            <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                    <article class="post type-post media">
                        <div class="entry-thumbnail media-left pull-left"><img src="{% static 'images/sidebar/a3.jpg'%}" alt="Thumb Image"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content media-body">
                            <h3 class="entry-title"><a href="standard.html">Dream on Zanzibar</a></h3><!-- /.entry-title -->
                            <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                    <article class="post type-post media">
                        <div class="entry-thumbnail media-left pull-left"><img src="{% static 'images/sidebar/a4.jpg'%}" alt="Thumb Image"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content media-body">
                            <h3 class="entry-title"><a href="standard.html">Happy Road Trip</a></h3><!-- /.entry-title -->
                            <span class="time"><time datetime="2017-12-05">May 12, 2017</time></span><!-- /.time -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div><!-- /.widget-details -->
            </div><!-- /.widget -->
        </aside>
    </div>
{% endif %}


