{% load static %}
<header class="masthead">

    <div class="header-top">
        <div class="container">
            <div class="side-menu-trigger"><span class="trigger-icon"><i class="icon_menu"></i></span></div><!-- /.side-menu-trigger -->
            <a class="navbar-brand hidden-xs" href="./"><img src="images/logo.png" alt="Site Logo"></a>
            <div class="menu-search">
                <div class="form-trigger"><i class="icon_search"></i></div>
                <form action="#">
                    <input type="text" name="search" id="menu-search" placeholder="Search here..">
                </form>
            </div>

            <nav class="sidebar-menu">
                <a class="navbar-brand" href="./"><img src="images/logo2.png" alt="Site Logo"></a>
                <span class="menu-close"><i class="icon_close"></i></span>

                <ul class="nav navbar-nav">
                    <li class="menu-item menu-item-has-children active">
                        <a href="#">Home</a>
                        <ul class="sub-menu children">
                            <li><a href="index-01.html">Home 01</a></li>
                            <li><a href="index-02.html">Home 02</a></li>
                            <li><a href="index-03.html">Home 03</a></li>
                            <li><a href="index-04.html">Home 04</a></li>
                            <li><a href="index-05.html">Home 05</a></li>
                        </ul>
                    </li>

                    <li class="menu-item menu-item-has-children">
                        <a href="#">Features</a>
                        <ul class="sub-menu children">
                            <li><a href="standard.html">Post Standard</a></li>
                            <li><a href="sidebar.html">Post Left Sidebar</a></li>
                            <li><a href="image.html">Post Header Image</a></li>
                            <li><a href="side-image.html">Post Side Image</a></li>
                            <li><a href="gallery.html">Post Gallery</a></li>
                            <li><a href="video.html">Post Video</a></li>
                            <li><a href="audio.html">Post Audio</a></li>
                            <li><a href="quote.html">Post Quote</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="categories.html">Categories</a></li>
                    <li class="menu-item"><a href="about.html">About</a></li>
                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                </ul><!-- /.navbar-nav -->

                <div class="menu-social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </div><!-- /.menu-social -->
            </nav><!-- /.sidebar-menu -->
        </div><!-- /.container -->
    </div><!-- /.header-top -->
</header>