{% load static %}


<div class="col-sm-9">
    <div class="banner-slider">
        <div class="banner-slider-04 carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <article class="post type-post">
                        <div class="entry-thumbnail">
                            <img src="{% static 'images/slider/04/1.jpg'%}" alt="Slider Image">
                        </div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <div class="overlay">
                                <div class="inner-content">
                                    <span class="category"><a href="categories.html">Lifestyle</a></span><!-- /.category -->
                                    <h2 class="entry-title"><a href="standard.html">Natural summer</a></h2><!-- /.entry-title -->
                                    <a href="standard.html" class="btn read-more">Read More</a><!-- /.btn -->
                                </div><!-- /.inner-content -->
                            </div><!-- /.overlay -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div><!-- /.item -->

                <div class="item">
                    <article class="post type-post">
                        <div class="entry-thumbnail">
                            <img src="{% static 'images/slider/04/2.jpg'%}" alt="Slider Image">
                        </div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <div class="overlay">
                                <div class="inner-content">
                                    <span class="category"><a href="categories.html">Lifestyle</a></span><!-- /.category -->
                                    <h2 class="entry-title"><a href="standard.html">Cruise to Alaska</a></h2><!-- /.entry-title -->
                                    <a href="standard.html" class="btn read-more">Read More</a><!-- /.btn -->
                                </div><!-- /.inner-content -->
                            </div><!-- /.overlay -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div><!-- /.item -->

                <div class="item">
                    <article class="post type-post">
                        <div class="entry-thumbnail">
                            <img src="{% static 'images/slider/04/3.jpg'%}" alt="Slider Image">
                        </div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <div class="overlay">
                                <div class="inner-content">
                                    <span class="category"><a href="categories.html">Lifestyle</a></span><!-- /.category -->
                                    <h2 class="entry-title"><a href="standard.html">Natural summer</a></h2><!-- /.entry-title -->
                                    <a href="standard.html" class="btn read-more">Read More</a><!-- /.btn -->
                                </div><!-- /.inner-content -->
                            </div><!-- /.overlay -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div><!-- /.item -->
            </div><!-- /.carousel-inner -->

            <a class="left carousel-control" href=".banner-slider-04" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href=".banner-slider-04" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>

        </div><!-- /.banner-slider-04 -->
    </div><!-- /.banner-slider -->
</div>