{% load static %}
<div class="widget widget_recent_posts">
    <h2 class="section-title">Filtreler</h2><!-- /.widget-title -->
    <div class="widget-details">
        <article class="post type-post media">
            <div class="entry-content media-body">
                <h3 class="entry-title"><a href="standard.html"><i class="fa fa-user-o"></i>PROFİLİM</a></h3><!-- /.entry-title -->
            </div><!-- /.entry-content -->
        </article><!-- /.post -->
        <article class="post type-post media">
            <div class="entry-content media-body">
                <h3 class="entry-title"><a href="standard.html">My Orders</a></h3><!-- /.entry-title -->
            </div><!-- /.entry-content -->
        </article><!-- /.post -->
        <article class="post type-post media">
            <div class="entry-content media-body">
                <h3 class="entry-title"><a href="standard.html">YORUMLARIM</a></h3><!-- /.entry-title -->
            </div><!-- /.entry-content -->
        </article><!-- /.post -->
        <article class="post type-post media">
            <div class="entry-content media-body">
                <h3 class="entry-title"><a href="standard.html">FAVORİLERİM</a></h3><!-- /.entry-title -->
            </div><!-- /.entry-content -->
        </article><!-- /.post -->
                <article class="post type-post media">
            <div class="entry-content media-body">
                <h3 class="entry-title"><a href="standard.html">BLOGLARIM</a></h3><!-- /.entry-title -->
            </div><!-- /.entry-content -->
        </article><!-- /.post -->
                <article class="post type-post media">
            <div class="entry-content media-body">
                <h3 class="entry-title"><a href="/logout">ÇIKIŞ</a></h3><!-- /.entry-title -->
            </div><!-- /.entry-content -->
        </article><!-- /.post -->
    </div><!-- /.widget-details -->
</div><!-- /.widget -->