{%  extends "homebase.html" %}
{% load static %}

{% block title %} Profil {{ setting.company}} {% endblock %}
{% block keywords %} {{ setting.keywords}} {% endblock %}
{% block description %} {{ setting.description}} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}

    <section class="main-content">
        <div class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <aside class="sidebar text-center">

                            {% include "user_panel.html" %}

                            <div class="widget widget_ad">
                                <div class="widget-details">
                                    <a href="#" class="ad-banner"><img src="{% static 'images/sidebar/ad.jpg'%}" alt="Ad Banner"></a>
                                </div><!-- /.widget-details -->
                            </div><!-- /.widget -->
                        </aside><!-- /.sidebar -->
                    </div>
                    <div class="col-sm-10">
                        <div class="single-post">
                            <div class="type-standard">
                                <article class="post type-post">
                                    <div class="top-content text-center">
                                        <h2 class="section-title">Yapılan Yorumlar</h2><!-- /.entry-title -->
                                    </div><!-- /.top-content -->
                                    <div class="widget widget_about_author">
                                        <div class="widget-details">
                                        <div class="btn-container">
                                                <a href="/user/addblog" class="btn">Blog Ekle</a><!-- /.btn -->

                                            </div>
                                        <br><br>
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div><!-- /.widget-details -->
                                        <br>
                                    </div><!-- /.widget -->
                                    <div class="entry-content">
                                        <table class="table table-striped">
                                            <tr>
                                                <th>Resim</th>
                                                <th>Başlık</th>
                                                <th>Kategori</th>
                                                <th>Durum</th>
                                                <th>Tarih</th>
                                                <th>Detay</th>
                                                <!--<tr><th></th><td></td></tr>-->
                                            </tr>
                                            {% for rs in blog %}
                                                <tr>
                                                    <td>
                                                        <a href="/blog/{{ rs.id }}/{{ rs.slug }}">
                                                        <img src="{{ rs.image.url }}" style="height: 30px;">
                                                        </a>
                                                    </td>
                                                    <td><a href="/blog/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></td>
                                                    <td>{{rs.category}}</td>
                                                    <td>{{rs.status}}</td>
                                                    <td>{{rs.create_at}}</td>
                                                    <td><a class="btn" href="/user/blogedit/{{ rs.id }}">Edit</a></td>
                                                    <td><a class="btn" href="/user/blogdelete/{{ rs.id }}" onclick="return confirm('Blog Silinecek Emin misiniz?')">Sil</a></td>
                                                    <!--<tr><th></th><td></td></tr>-->
                                                </tr>
                                            {% endfor %}
                                        </table>

                                        <div class="post-meta">
                                            <span class="post-social pull-right">
                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                </span><!-- /.post-social -->
                                        </div><!-- /.post-meta -->
                                    </div><!-- /.entry-content -->
                                </article><!-- /.post -->
                            </div><!-- /.type-standard -->
                        </div><!-- /.single-post -->
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- /.padding -->
    </section><!-- /.main-content -->
{% endblock %}